[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/Vundlevim/Vundle.vim.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
